.margin-atas{
    margin-top: 15%;
}

.margin-resp{
    margin-top: 15%;
}

.margin-bawah{
    margin-bottom: 1%;
}

.margin-samping{
    margin-left:5%;
    margin-right:5%;
}

.accordion-content {
    display: none;
}

.accordion-header {
    cursor: pointer;
    transition: all 0.3 ease-out;
}

.button-round {
    border-radius: 55%;
}

body{
    overflow-x: hidden;
}