{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link id="theme" rel="stylesheet" href="{% static 'css/bootstrap_dark.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'js/callback.js' %}"></script>
    </head>
    <body onload="callback('{{ callback }}')">
        <div class="text-center margin-atas margin-samping">
            <h1>{{ add_status }}</h1>
            anda akan kembali ke halaman asal, jika tidak berhasil silahkan tekan tombol <a class="text-dark font-weight-bold" href="{{ callback }}">ini</a>
        </div>
    </body>
</html>