{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link id="theme"rel="stylesheet" href="{% static 'css/bootstrap_dark.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1 class="text-center margin-atas">
            Halo, apa kabar?
        </h1>
        <form action="{% url 'add' %}" method="POST" class="text-center margin-samping">
            <div class="form-group">
                {% csrf_token %}

                {{ form }}
            </div>
            <button type="submit" class="btn btn-success" id="add">submit</button>
        </form>
        <div class ="text-center">
            <h3>status kamu:</h3>
            {% if status_length == 0 %}
                <h5>belum ada status :(</h5>
            {% else %}
                {% for status_text in status reversed %}
                    <h5>{{ status_text.status }}</h5>
                    <h6>diupload pada {{status_text.posting_time}}</h6>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>