{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link id="theme"rel="stylesheet" href="{% static 'css/bootstrap_dark.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script src="{% static "Js/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "Js/main.js" %}"></script>
    </head>
    <body>
        <div class="text-center">
            <div class="row justify-content-end mt-5 mb-4">
                <h2 class="col-4">Hi, i'm Akbar!</h2>
                <div class="col-1"></div>
                <button class="col-2 btn btn-dark" id="change_theme_button">Change theme!</button>
                <div class="col-1"></div>
            </div>
            <div class="accordion d-flex flex-column">
                <div class="margin-samping mt-2 mb-2">
                    <div class="btn btn-light accordion-header">
                        <h5>About Me</h5>
                    </div>
                    <div class="accordion-content">
                        <h6>Sophomore year student at University of Indonesia, majoring in Computer Science. Intrested in software engineering (back-end). I am eager to learn new thing. Currently learning web-development</h6>
                    </div>
                </div>
                <div class="margin-samping mt-2 mb-2">
                    <div class="btn btn-light accordion-header">
                        <h5>Activity</h5>
                    </div>
                    <div class="accordion-content">
                        <h6>Sleep</h6>
                    </div>
                </div>
                <div class="margin-samping mt-2 mb-2">
                    <div class="btn btn-light accordion-header">
                        <h5>Experiences</h5>
                    </div>
                    <div class="accordion-content">
                        <div class="mt-3">
                            <h2 class="font-weight-bold">Academic experiences</h2>
                            <div>
                                <div class="d-flex justify-content-center flex-row">
                                    <img src="{%static 'img/uwiw.png' %}" alt="UI" width="45px">
                                    <h4>Computer Science Student - University of Indonesia</h5>
                                </div>
                                <h3>- 2018-present</h3>
                                <p>
                                    I study Computer Science and currently intrested in software engineering.
                                </p>
                            </div>
                            <div>
                                <div class="d-flex justify-content-center flex-row">
                                    <img class="rounded-circle" src="{%static 'img/SMANDEL.jpg' %}" alt="SMAN8" width="45px">
                                    <h4>Natural Science Student - SMAN 8 PEKANBARU</h5>
                                </div>
                                <h3>- 2015-2018</h3>
                                <p>
                                    I study and start learing programming, i also became mentor at Computer Science club.
                                </p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <h2 class="font-weight-bold">Work experiences</h2>
                            <div>
                                <div class="d-flex justify-content-center flex-row">
                                    <img class="rounded-circle" src="{%static 'img/CF11.jpg' %}" alt="COMPFEST" width="45px">
                                    <h4>Staff of Capture the Flag - COMPFEST 11</h5>
                                </div>
                                <h3>- February 2019-September 2019</h3>
                                <p>
                                    I learn about Capture The Flag and create problems for participant.
                                </p>
                            </div>
                            <div>
                                <div class="d-flex justify-content-center flex-row">
                                    <img src="{%static 'img/uwiw.png' %}" alt="UI" width="45px">
                                    <h4>Teaching Assistant - University of Indonesia</h5>
                                </div>
                                <h3>- August 2019-Present</h3>
                                <p>
                                    I tutored and grade 14 students for Foundation of Programming 1 at University of Indonesia, Faculty of Computer Science.
                                </p>
                            </div>
                            <div>
                                <div class="d-flex justify-content-center flex-row">
                                    <img class="rounded-circle" src="{%static 'img/sirclo.jpg' %}" alt="SIRCLO" width="45px">
                                    <h4>Software engineering intern - SIRCLO</h5>
                                </div>
                                <h3>- June 2019-August 2019</h3>
                                <p>
                                    Here, i learn back-end software engineering firsthand using GO. I was assinged to a mentor and given various task that will train my skills.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-samping mt-2 mb-2">
                    <div class="btn btn-light accordion-header">
                        <h5>Achievements</h5>
                    </div>
                    <div class="accordion-content container-fluid text-center">
                        <div>
                            <div class="d-flex justify-content-center flex-row">
                                <img class="rounded-circle" src="{%static 'img/OSN.jpg' %}" alt="OSN" width="45px">
                                <h4>Bronze medalist - Indonesian National Science Olympiad in Informatics</h5>
                            </div>
                            <h3>- 2017</h3>
                            <p>
                                Awarded for Bronze Medal (21st) out of 76 participants.
                            </p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-center flex-row">
                                <img class="rounded-circle" src="{%static 'img/PCR.png' %}" alt="PCR" width="45px">
                                <h4>Silver medalist - Information Technology Olympiad 6, Politeknik Caltex Riau</h5>
                            </div>
                            <h3>- 2017</h3>
                            <p>
                                Second place at Competitive Programming category
                            </p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-center flex-row">
                                <img class="rounded-circle" src="{%static 'img/MIPAEXPO.png' %}" alt="MIPAEXPO" width="45px">
                                <h4>Bronze medalist - MIPA EXPO, University Of Riau</h5>
                            </div>
                            <h3>- 2017</h3>
                            <p>
                                Awarded bronze medal in Competitive Programming category.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>