<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <title>Story 8 PPW</title>
        <link id="theme"rel="stylesheet" href="{% static 'css/bootstrap_dark.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static "Js/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "js/books.js" %}"></script>
    </head>
    <body>
        <div class="text-center margin-samping margin-resp margin-bawah">
            <h2>Find a book!</h2>
            {{ form }}
            <button type="submit" class="btn btn-light" id="search">Search</button>
        </div>
        <div id="book-list" class="text-center margin-samping">
        </div>      
    </body>
</html>